[client]
port=3306

[mysql]

[mysqld]
default-storage-engine=INNODB
max_connections=512
skip-host-cache
skip-name-resolve
query_cache_size = 64M
max_allowed_packet = 4M


server_id=1
log-bin=mysql-bin

slow_query_log = 1
slow_query_log_file =/var/lib/mysql-logs/slow.log
long_query_time = 1
log-queries-not-using-indexes
max_connections = 1024
back_log = 128
wait_timeout = 100
interactive_timeout = 200
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES